[2021-05-11 23:12] simondotm opened #6 "Default firebase config storage doesn't point to rules"
Generator creates:
[code]
it should create:
[code]

[2021-05-12 10:48] #6 closed

[2021-05-14 06:51] maxfriedmann opened #7 "Cannot find module '@nrwl/workspace/src/utilities/assets'"
This plugin looks very promising. I followed the quick steps and ran into

[code]

Am using nx 12.0.8 and v0.2.2 of your plugin.

I figured out that your plugin at least needs nx 12.3.x, so after upgrading all worked fine. Maybe its worth mentioning the Nx version or maybe there's a way to disallow using it before nx version 12.3?

I also had to add `import "firebase-admin";` to your example "Hell

[2021-05-14 10:44] simondotm commented on #7
Hi Max, thanks for reporting this, I built the plugin against 12.1.1 but the Nx team are moving fast with releases! A minimum Nx version check sounds like a good idea.
The firebase admin dep is interesting though, as my e2e test deployed fine without it, so I'll look into that.

[2021-05-18 12:58] simondotm opened #8 "build executor may need to respect node version"
I've come up against this possibility with Firebase + Nx, where Nx workspace/user environment uses Node version 15 (for example) but our Firebase functions package `engine` is set to 10.
For CI builds of the functions, we need to be confident that building functions via nx using a node version other than the one specified in the functions package.json will generate output JS that is compatible wit

[2021-05-19 01:35] KingDarBoja opened #9 "Firebase Executor for emulator suite"
Hi, awesome plugin, been using it a bit for experimenting with sharing code between firebase functions and angular apps.

Wanted to know if the firebase executor can be documented or configured to support emulators parameters.

Right now I am doing something like below at angular.json for serve the CF locally with emulators.
[code]

Cheers!

[2021-05-19 07:14] simondotm commented on #8
I've already set `module: "commonjs"` which should be fine until FB supports ES modules.

Current thinking is:
For node 10, tsconfig target can be no greater than `es2018`
For node 12, tsconfig target can be no greater than `es2019`

For any functions that import any node API's, I'm not yet sure how to properly enforce that if the build node environment is not the same as the engine setting for th

[2021-05-19 14:06] KingDarBoja commented on #9
I forgot to mention that trying to run the emulators will yield an error and abort such operation:

![image](https://user-images.githubusercontent.com/30560560/118826822-6c2b4880-b881-11eb-9110-5febe40e0d79.png)

Not sure if related to the library setup itself as it is the first time I encountered the error.

[2021-05-19 14:59] simondotm commented on #9
Ok thanks for the extra info, I've not used the emulators so far, so this is a good opportunity to get more familiar with them

[2021-05-19 23:01] KingDarBoja commented on #9
Btw, looks like the issue is caused by the following:

i  functions: Your functions could not be parsed due to an issue with your node_modules (see above)

So I added both `firebase-admin` and `firebase-functions` to the package.json inside the firebase app:

[code]

![image](https://user-images.githubusercontent.com/30560560/118895682-3cedf900-b8cc-11eb-92df-12f0ccf766b9.png)

[2021-05-19 23:13] simondotm commented on #9
Sweet! You got it working! Thanks for sharing that. Interesting about that firebase-admin dep, because Max mentioned a similar (unrelated issue) with that too -https://github.com/simondotm/nxfirebase/issues/7#issue-891665170
Ok I think I'll change the package template to somehow have admin and functions deps in as a default. I didn't want to put them in the template since they'll not get overwritt

[2021-05-19 23:17] simondotm commented on #9
Or I could `import firebase-admin` in the default `index.ts`... hmm

[2021-05-19 23:24] KingDarBoja commented on #9
Ummmm... I accidentally removed it while testing the grouped functions feature, I can give it a try like that.

Also noticed that I must keep an empty `firebase.json` file at root and move the hosting config to the project specific json file to properly initialize the hosting emulator. I will share my example nx workspace in a few minutes.

[2021-05-19 23:30] simondotm commented on #9
There's a note in the readme about this - if you are only using one firebase application in your nx workspace, you can just delete the empty `firebase.json` and rename your `firebase.appname.json` to just `firebase.json` (and this way you dont need the `--config` part in firebase CLI commands)

[2021-05-19 23:37] simondotm commented on #9
This is all great feedback, thanks. I'll incorporate these improvements into the next release.

[2021-05-19 23:46] simondotm opened #10 "Make initial application generator use `firebase.json`"
Its not obvious that the empty `firebase.json` config is just a dummy file to keep the Firebase CLI from moaning.
Perhaps a better solution is for the nxfirebase app generator to create `firebase.json` for the first firebase application in the workspace, since its more intuitive this way.
Any subsequent nxfirebase app generators should then generate the named `firebase.appname.json` configs.
Users

[2021-05-20 23:29] enejm opened #11 "Build with --watch flag"
Hello. Great plugin.
Is there a way to run the builder in watch mode for hot reloading purpose?

I have tried
`nx build myapp --watch=true`

It starts compilation in watch mode but it exits after first execution.

[2021-05-21 08:11] simondotm commented on #11
Interesting question. Can I ask how you would be using `--watch` with functions? Is it for just checking for compile errors as you work, or for some other interesting reason?

[2021-05-21 08:29] simondotm commented on #11
Looks like this was a bug in Nx thats fixed in 12.3.4 - Nx issue 5208
Plugin may need to rearrange the order it does its work however to:
1. Build dependent libraries
2. Copy libraries to dist
3. Update package.json
4. TSC compile the functions library (has to be the last step in case of watch mode)

`--watch` should work in this case. However changes to dependent libraries wont be detected for re

[2021-05-21 11:04] simondotm opened #12 "Default predeploy commands in firebase.app.json do not work in CI environments"
[code]
Gives `nx: not found` error in Github CI action. Presumably because CI environment doesnt have nx cli globally installed.

Should likely be:
[code]

[2021-05-21 11:06] simondotm opened #13 "Add CHANGELOG to repo"
Nx are moving fast with releases and bug fixes.
Since new functionality in new versions of plugin will only affect newly generated nxfirebase apps, we will need to add release notes/changelog to explain any firebase configuration updates that may need to be manually updated by existing users.

[2021-05-21 13:44] simondotm commented on #11
I dont think it's going to be trivial to support --watch because we do post processing on the build. I cant do the tsc step last, because it deletes the output folder before compilation (which nukes the package.json and local library deps we've created).

Hmmm....

[2021-05-21 16:21] simondotm commented on #9
Also @KingDarBoja - thanks for the `ignoreUndefinedProperties: true` tip - I wasn't aware of this little gem, drives me nuts when there's exceptions due to an undefined field creeping in somewhere!

[2021-05-21 16:38] enejm commented on #11
Regarding the use case:

In regular firebase functions repo I mostly use
`npm run build -- --watch | firebase emulators:start`
This way I can test functions in functions shell or in frontend app without need to manually rebuild it on every change.

So in regards to issue #9  - I intended to set up `nx serve` with build command using --watch flag

Ideal dev experience for fullstack development woul

[2021-05-21 16:45] enejm commented on #11
Hmm, yes, I understand. If it is not trivial issue, than I will stick to "manual". :) Thank you for your time.

[2021-05-21 18:54] simondotm commented on #11
Thanks for the extra info. I've got an idea there might be a way to do this, and its a useful thing for the plugin to do, so I'll look into it.

[2021-05-21 19:33] simondotm commented on #11
Ok I've figured this out. --watch will be supported in the next release.

[2021-05-21 23:21] simondotm commented on #9
Hey @KingDarBoja - why do you have the `firebase use projectIdOrAlias`  command in your serve target?
I'm trying to understand if that is required for the emulators to work? (since firebase use selects a remote deployment instance, not a local instance)

[2021-05-22 10:23] simondotm opened #14 "Support nx migrations?"
New Nx releases are frequent, and also Nxfirebase plugin changes may require updates of previous installations (such as modifying/updating nxfirebase app targets etc.)
Look into the Nx migration process for this.

[2021-05-22 10:25] simondotm opened #15 "Rename package to `nx-firebase`"
Bit of a pain to do this since already published on npm, but renaming to `nx-firebase` would better follow community plugin conventions

[2021-05-22 10:29] simondotm opened #16 "Replace use of `join`"
Some parts of plugin use `join` - replace with `joinPathFragments` to ensure full compatibility

[2021-05-22 11:23] #12 closed

[2021-05-22 11:30] simondotm commented on #7
I've updated the template `index.ts` to import `firebase-admin` as a dependency which fixes the deployment issue.
I've also added peer dependencies to the package which will hopefully advertise Nx version compatibility for the plugin.

[2021-05-22 11:30] #7 closed

[2021-05-22 11:34] simondotm commented on #9
[v0.2.3 now released against Nx version 12.3.4](https://www.npmjs.com/package/@simondotm/nxfirebase)

Ok I've added `serve` and `deploy` targets to the application generator which support the use cases above. I dont have a migration script for the plugin so existing NxFirebase apps will need to manually change their targets as follows:

[code]

[2021-05-22 11:34] #9 closed

[2021-05-22 11:35] simondotm commented on #11
[v0.2.3 now released against Nx version 12.3.4](https://www.npmjs.com/package/@simondotm/nxfirebase)

`--watch` is now supported in v0.2.3 - requires minimum Nx version 12.3.4

[2021-05-22 11:35] #11 closed

[2021-05-22 11:35] #13 closed

[2021-05-22 11:55] simondotm commented on #8
I've added `es2018` as a tsc compiler target so lets close this and see if any further issues crop up.

[2021-05-22 11:55] #8 closed

[2021-05-22 16:09] simondotm commented on #11
@enejm - Please note project has now been renamed to `@simondotm/nx-firebase`, see [here](https://www.npmjs.com/package/@simondotm/nx-firebase) for the new 0.3.0 release.

[2021-05-22 16:10] simondotm commented on #7
@maxfriedmann - Please note project has now been renamed to `@simondotm/nx-firebase`, see [here](https://www.npmjs.com/package/@simondotm/nx-firebase) for the new 0.3.0 release.

[2021-05-22 16:10] simondotm commented on #9
@KingDarBoja - Please note project has now been renamed to `@simondotm/nx-firebase`, see [here](https://www.npmjs.com/package/@simondotm/nx-firebase) for the new 0.3.0 release.

[2021-05-22 16:16] simondotm commented on #15
Done. Not sure if it was a good idea, but anyways. 👍

[2021-05-22 16:16] #15 closed

[2021-05-22 18:09] KingDarBoja commented on #9
Because the cli will start blaming and stop the emulators to run with the following error:
[code]

[2021-05-23 09:04] simondotm opened #20 "serve or build in `--watch` mode does not watch dependent libraries also"
Scenario:
Functions project depends on `node-library`
Run `build --with-deps --watch`
Changes to dependencies and/or main application code result in inconsistent rebuilds

Look into nx-watch plugin to resolve this
https://gist.github.com/jhesgodi/2d530753c551ace665a8c3010d3a719c

[2021-05-25 00:05] KingDarBoja commented on #9
@simondotm tried the latest version (0.3.1) and the emulators are working perfectly. No clue why the previous error was showing up regarding the project id but seems it is already picking the default one :)

![image](https://user-images.githubusercontent.com/30560560/119420785-eebd6900-bcc2-11eb-8985-cc99115e7a14.png)

[2021-05-25 19:00] simondotm opened #21 "Firebase build executor should check that dependent libraries are buildable"
In the scenario where a non-buildable node library has been created in the workspace, and it is referenced by a firebase functions application, the builder should check this dependent library is buildable, because if it isn't we will not be able to proceed (since we cannot copy the compiled JS lib to the dist/ folder, since it isn't buildable)

[2021-05-25 19:02] simondotm commented on #20
Theres a rumour this used to work on Nx v11.x , but I cant find the github issue I spotted with this info in it

[2021-05-26 07:31] simondotm commented on #20
It's Nx issue 5762

[2021-05-27 00:31] simondotm commented on #21
Added in v0.3.2

[2021-05-27 00:31] #21 closed

[2021-06-04 21:23] simondotm opened #23 "Support -P option in deploy targets"
Multi-project workspaces need extra care when using deploy without switching to the correct firebase project target first (`firebase use <target>` or `firebase deploy -P <target>`
Worst case scenario is that the wrong things might be deployed to the wrong target.

We can improve this by adding `-P` to the `deploy` target.

Either document suggestion to add `-P` manually, or support some way to set

[2021-06-07 10:54] simondotm opened #24 "Functions that use local libraries do not deploy with Firebase Node 12 engine"
Firebase Node 12 support uses `npm ci` rather than `npm install` - which requires a `package-lock.json` which the plugin does not generate. This could be a problem. Need to check.
https://cloud.google.com/functions/docs/migrating/nodejs-runtimes#nodejs-12-changes

[2021-06-07 11:08] simondotm commented on #24
Hmm I just deployed a bunch of functions to a node 12 environment with no `package-lock.json` and no issues. Docs maybe incorrectly suggesting that `package-lock.json` is required.

[2021-06-07 14:28] simondotm opened #25 "Building firebase app seems to show TSC errors twice"
Build an nx-firebase functions app with some typescript compilation errors.
Observe that errors are emitted twice in the output stream.

[2021-06-09 21:08] simondotm opened #26 "List the dependencies in sorted order when building firebase app"
Will be helpful to show dependencies for the firebase app sorted by `npm` & `lib` groups and alpha sorted within each group.
For bonus points show a tick when copying the `lib` deps.

[2021-06-11 20:33] simondotm opened #27 "Setting parallel=true on the `serve` target was a bad idea"
`serve` target should only fire up the emulators once the build has completed.
For big projects the build takes longer than the emulator to start up

[2021-06-11 20:44] simondotm opened #28 "Serve target needs to build synchronously before launching emulator"
`serve` process ideally needs to be:
1. build synchronously, then
2. build --watch & start emulator asynchronously.

[2021-06-11 21:47] simondotm opened #29 "Copy any `.runtimeconfig` file in the app folder to `dist` when building"
When running firebase emulator, functions that use the runtime config need to have the `.runtimeconfig` file in the `dist/apps/functions` directory

`build` target executor should check for this file existing in the app folder and copy it to dist if it exists.

users can call `firebase functions:config:get > .runtimeconfig.json` locally

[2021-06-11 22:04] simondotm opened #30 "Support `-P` option in `serve` targets also"
`-P` option allows targets for firebase emulator to specify a production server also.

Related to #23

[2021-06-11 22:06] simondotm commented on #24
I'm pretty confident that a `package-lock.json` file is not required from node12+. `npm ci` will use it if it exists, but works fine if it doesn't. Which is good news since we do not want to have to create a `package-lock.json` file just to deploy.

[2021-06-11 22:10] simondotm opened #31 "Add emulation `auth` and `pubsub` defaults to `firebase.*.json` configs"
Might as well add all available emulated services to generated default firebase configs.

[code]

[2021-06-12 09:50] simondotm commented on #29
This can be done by adding `.runtimeconfig` to the assets list in the builder target.
Maybe worth adding a target that will generate a runtime config sync target for a project

[2021-06-12 09:52] simondotm commented on #30
`--import=<path>` and `--export-on-exit` are useful `serve` options too

[2021-06-12 09:54] simondotm opened #32 "Not possible to build firebase app when serving emulators"
`build` target attempts to clean the functions app `dist` folder before building but access will be denied if the emulators are running as they have a watch on the dist assets

[2021-06-12 09:57] simondotm opened #33 "Match plugin version to Nx Version?"
Just leaving this here as an idea. Might be useful to present the plugin (once stable) with versioning to match the Nx version it was built against.

[2021-06-12 10:01] simondotm commented on #29
Also, add a `.gitignore` pattern for `.runtimeconfig` files - they generally should not be committed to version control as they likely contain sensitive information

[2021-06-12 10:07] simondotm commented on #23
It might be a good idea to add a top level option to the app that is an array of allowed serve/deploy project aliases for this app.
In this way maybe we can do something intuitive like:
`nx deploy app` will use the default/first project alias as a `--project` deploy target
`nx deploy:<alias> app` will use the given project alias as a `--project` deploy target (as long as it is one of the aliases l

[2021-06-12 10:22] simondotm opened #34 "plugin initializer should add some firebase specific defaults to workspace `.gitignore`"
[code]

[2021-06-12 10:29] simondotm commented on #23
Note: look into `configurations` support in the executors, seems like a more Nx built-in way to override options

eg.
[code]

[2021-06-16 11:50] simondotm commented on #32
One workaround for this that's working for me is to build with `--deleteOutputPath=false`
This allows us to keep the emulators running in the background and do incremental builds.
Should either document this or incorporate it more deeply etc.

[2021-06-19 14:35] simondotm commented on #34
`.runtimeconfig.json` added in v0.3.3

[2021-06-19 14:35] simondotm commented on #31
added in v0.3.3

[2021-06-19 14:35] #31 closed

[2021-06-19 14:36] simondotm commented on #29
added in v0.3.3

[2021-06-19 14:36] #29 closed

[2021-06-19 14:36] simondotm commented on #16
added in v0.3.3

[2021-06-19 14:36] #16 closed

[2021-06-19 14:36] simondotm commented on #26
added in v0.3.3

[2021-06-19 14:36] #26 closed

[2021-06-23 12:42] simondotm commented on #24
Nope, reopening as this is a real issue.

For functions that use local libraries, deploying to nodeengine 12 onwards will error because there isn't a `package-lock.json` file.
![image](https://user-images.githubusercontent.com/7404321/123098114-b4adc700-d428-11eb-83be-a9802947bf6e.png)

I believe my earlier test worked ok because it didn't import shared libs.

[2021-06-23 12:43] simondotm commented on #24
Need to figure out how to sort this.
Maybe synthesize a package-lock.json file? Ideally a simpler solution exists.

[2021-06-23 12:47] simondotm commented on #23
Not going to support this. I want to keep targets simple in their functions, and let users customize.
I've happily customized deploy target for my own apps to set the `--project` and `--config` options as [above](https://github.com/simondotm/nx-firebase/issues/23#issuecomment-860034144) and it works pretty intuitively.

[2021-06-23 12:47] #23 closed

[2021-06-23 12:48] simondotm commented on #30
See resolution of #23.  Users can customize serve target as they need.

[2021-06-23 12:48] #30 closed

[2021-06-23 12:49] simondotm commented on #33
Decided against this. Nx release cadence too rapid. New plugin releases only needed if breaking changes to plugin on Nx side.

[2021-06-23 12:49] #33 closed

[2021-06-24 09:09] simondotm opened #36 "plugin initializer should add `firebase-tools` as a dev dependency"
this allows CI systems to `npx firebase ...`
Necessary for github actions that dont use the [firebase action](https://github.com/marketplace/actions/github-action-for-firebase)

[2021-06-24 19:05] simondotm opened #37 "`.runtimeconfig.json` does not get copied on incremental builds"
Since `.runtimeconfig.json` is added to `.gitignore`, nx does not class it as a dependency, so even though it is listed as an asset for the firebase app, incremental builds will not detect any changes to this file and therefore re-run the build target and copy the asset.

if `.runtimeconfig.json` is removed from `.gitignore` it will be added to `node_modules/.cache/nx/nxdeps.json` as a dependency

[2021-06-25 11:48] Schmale97 commented on #24
I was able to deploy a cloud function to a project using Node 12 where a shared lib is imported. There is no package-lock.json in my app directory nor my library directory. What conditions is this error happening for you?

[2021-06-25 13:20] Schmale97 opened #38 "Generate nx command for executing tests with emulators running"
Possible enhancement for nx command in the workspace.json that runs the test command within the firebase emulators:exec command - similar to below?

[code]

[2021-06-25 13:37] simondotm commented on #24
@Schmale97 Thanks for letting me know you've managed to do this without issue, that's extremely useful to know.

I have about 12 libs in my project and a recent test deploy with node 12 just blew up as per the image above.
I am a bit suspicious though that it might be some other subtle issue. I've reverted to node 10 for now and will take a closer look next week if I get a bit of spare time.

[2021-06-25 15:39] Schmale97 commented on #24
@simondotm no worries, my codebase is very simple at the moment, I have one app 'functions-app' which has the 'helloWorld' cloud function which this package generates. And one lib 'my-lib'  the boilerplate lib generated from 'nx g @nrwl/node:lib my-lib --buildable'. I have then imported that lib and added the string from 'my-lib' to the logging in the 'helloWorld' function.

not sure if that is us

[2021-06-25 15:42] simondotm commented on #24
Thanks. I'm wondering if it might be because some of my libs depend on other libs which might be opening up a can of peer deps worms.

[2021-06-25 15:46] simondotm commented on #24
In fact just saying that out loud has convinced me that is what the problem likely is.
I'll probably have to transform local libraries to peerDeps somehow in the local libs prior to deploy

[2021-06-25 15:47] Schmale97 commented on #24
not using nx - there is an issue currently with firebase (https://github.com/firebase/firebase-tools/issues/968) to do with the deploy step failing when using local depencies with npm - there are some workarounds at the bottom of the thread - that may not be relevant here though

[2021-06-25 15:52] simondotm commented on #24
Yes I've stumbled across that epic thread before! I documented my own experience and solution in the [readme](https://github.com/simondotm/nx-firebase#supporting-libraries-in-functions)

[2021-06-26 13:11] simondotm commented on #37
I've resolved this in my own repo by calling the getconfig target as a command prior to running the emulate target.
This ensures the emulator session:
1. Builds the project to `dist`
2. Copies the latest config to `dist` post build
3. Ensures the `.runtimeconfig` file exists before the emulator starts up.

Will make this change to the next release

[2021-06-29 10:22] Schmale97 commented on #24
Not sure where you have got to with this, but I just encountered an issue with deploying when I created a 2nd lib 'their-lib' which 'my-lib' depended on. Removing the dependency and the lib stopped the error from occurring.

[2021-06-29 10:38] simondotm commented on #24
Ah ok, that pretty much confirms my suspicions then.
I'll need to update the plugin to modify the package.json for each dependent lib that depends on another local lib.
Give me a couple of days to see if I can get this sorted.

[2021-06-29 10:42] simondotm commented on #24
FWIW I'm not certain if there's any compelling reason to use node12 over node10 with firebase functions, so changing your nodeengine to 10 is likely to be an acceptable workaround for now

[2021-06-29 10:54] Schmale97 commented on #24
Yeah can confirm that changing to node 10 stops the deploy error for me, thanks :)

[2021-07-03 12:40] cogoo commented on #24
Thanks @simondotm for this awesome library. I ran into the same issue with Node12. Downgrading to Node10 fixes the issue and as your mentioned don't see any issues with using the Node10 issue

[2021-07-05 09:50] simondotm commented on #24
Folks, I'm looking into the node12 support atm, but it might take a couple of weeks to complete.

[2021-07-09 10:28] simondotm commented on #20
Recent Nx changes offer some new possibilities here, observer on the tsc process could be just the ticket
Dropping here for reference
https://github.com/AgentEnder/nx/commit/c95f24660c14b82034d5393e97195cfc99fea009

[2021-07-17 14:31] IdanCo commented on #20
Great project!!!

I've solved this issue outside nx by building the library INTO the functions folder. Not sure this strategy would work in this case. I see you're copying the built library only once. Any chance to update it on every change as well?

[I wrote my recipe for the non-nx solution](https://medium.com/@Idan_Co/sharing-types-between-angular-and-firebase-cloud-functions-ff72a6234792), hop

[2021-07-20 17:05] simondotm commented on #20
Thanks for sharing your approach, and yes, I'd love to get this working somehow.

Building libraries directly into the functions folder is a neat idea but doesn't feel quite right as a solution for Nx workspaces since we cant always be sure a given buildable library won't be a dependency of multiple apps in the workspace.

Generally seems like we'll need to somehow figure out how an nx plugin can

[2021-07-24 20:57] WhatsThatItsPat commented on #34
`firebase-debug.log` is another. I just started playing around with your plugin and added these after running the emulators.

[code]

[2021-08-30 21:33] WhatsThatItsPat opened #40 "Emulator shutdowns are not "clean" when using executors"
After using `firebase emulators:start` in the terminal and entering `ctrl-c` to end the process, I get lengthy output telling me about the shutdown process:

[code]

But after running `nx serve functions` or `nx emulate functions`, ending the process with `ctrl-c` doesn't show any of the output and I don't think everything is being shut down properly.

When I restart the emulators I get warnings a

[2021-08-31 19:30] adrian-marcelo-gallardo commented on #38
@Schmale97 note there is a typo in the command, it should be `nx run functions-app:build` (`run` keyword is missing).

Just for complementing this, and as an alternative config, you can provide both commands (build and run) separate:
[code]

[2021-09-03 09:00] johngrimsey commented on #28
Nx be able to solve this for you (only tested with the `run-commands` builder):

[code]

[2021-09-03 09:14] johngrimsey opened #41 "--watch seems to have no effect"
This lib is great!

I have created an app named `functions`.

    nx run functions:build --watch

Is building but finishing up without watching. Am I doing something wrong? The `functions:emulate` behaves the same. It builds fine and launches the emulator suite without issue but it doesn't watch for changes.

Thanks

[2021-09-13 14:18] jBernavaPrah commented on #40
Hi @WhatsThatItsPat,

What is your current workaround on this?

[2021-09-13 15:24] WhatsThatItsPat commented on #40
I've just been running the `firebase emulators:start...` command directly while trying to remember to build things beforehand.

I've also added this to my `package.json` and use it if any ports are still running:

[code]

[2021-09-29 18:14] supernaut opened #42 "Missing dependency for @angular-devkit/schematics"
I added nx-firebase to an existing Nx repo with a react app in it. When trying to run the build command for the firebase app it fails with the error:

If I manually add the package to my projects dev-dependencies the build script works.

[2021-10-07 10:33] KostasDimakis opened #43 "Update Docs and generated files with `--project=appalias`"
Looks like there might be a neat way to avoid accidental deployment to the wrong target with the use of `--project=appalias`.

More info: https://firebase.google.com/docs/cli#use_aliases

[2021-10-22 00:29] agalper opened #44 "Nx 13.0.1 release breaks nx-firebase use of createProjectGraph()"
In recent release of Nx 13.0.1, createProjectGraph() is no longer a public API.

As a result the build executor fails for Firebase functions:

**project_graph_1.createProjectGraph is not a function**

Looks like createProjectGraphAsync() is still available. There may be more changes needed as well.

Any advice on working around this with Nx 13.0.1 is much appreciated.

[2021-10-30 14:39] dpietrzyk commented on #41
A nice workaround for this issue is to create a custom `nx-watch` executor and use it instead of `--watch` flag:
https://gist.github.com/jhesgodi/2d530753c551ace665a8c3010d3a719c

[2021-11-01 10:15] RandomDude123 commented on #44
was able to make it run locally after updating to `13.1.2`.

- replace `createProjectGraph` with `createProjectGraphAsync`
- remove `nonBuildableDeps` logic in `nx-firebase/src/executors/build/build.ts` which fails during firebase:build

I don't manage to run the included e2e-tests locally and don't understand the logic behind the `nonBuildableDeps` checks and can't fix them. A PR seems therefore

[2021-11-14 00:32] edriang commented on #44
I'm having issues to, with version `13.1.4`

[2021-11-14 15:49] simondotm commented on #44
Hi folks, I'm very sorry for the radio silence recently I had some personal issues to deal with.
I'll be able to look into this over the next week.

[2021-11-26 15:12] tomschreck commented on #44
I tried @RandomDude123 recommendation in /node_modules/@simondotm/nx-firebase/src/executors/build/build.js.  Running NX's build command on project seems to get stuck at 'Copying asset files'.

Looking forward to a fix because getting Firebase functions to fit within NX monorepo would be awesome.

[2021-12-06 19:10] BraunreutherA commented on #44
Hey there,

I've created and PR: #45 - following @RandomDude123 work it was only missing to tell the `createProjectGraphAsync` to use the old version `4.0`. This is only a fix for now and the project should get refactored to NX V13.

@simondotm I can put some effort into that an help if you already have a plan. Still I hope you can use this PR so we can go on using the plugin properly :)

[2021-12-09 17:38] MrPumpking commented on #44
I've created a patch based on @BraunreutherA's PR:

`@simondotm+nx-firebase+0.3.3.patch`

[code]

You can use it with with [patch-package](https://www.npmjs.com/package/patch-package) until the issue is resolved

[2021-12-17 01:14] shannonjohnstone commented on #44
Just wanted to check in and see if we are any closer to getting [#45](https://github.com/simondotm/nx-firebase/pull/45) or another solution merged

[2021-12-17 14:13] tomschreck commented on #44
checking in as well to see about getting [#45](https://github.com/simondotm/nx-firebase/pull/45) merged.

[2021-12-25 11:57] anandsathe67 commented on #44
Using the latest (as of this moment) version of nx (13.4.0), the following patch works. Had to tweak a few more things in addition to @MrPumpking 's changes

diff --git a/node_modules/@simondotm/nx-firebase/src/executors/build/build.js b/node_modules/@simondotm/nx-firebase/src/executors/build/build.js
index ba14795..5a62360 100644
[@simondotm+nx-firebase+0.3.3.patch.txt](https://github.com/simondo

[2021-12-26 20:49] enchorb commented on #44
Can confirm the original patch by @MrPumpking still gave an error (fileutils_1.readJsonFile is not a function) however @anandsathe67 's additions seem to have resolved that - functions deployed successfully!

[2021-12-29 16:28] johngrimsey commented on #44
This saved my ass thanks @MrPumpking and @anandsathe67 !

[2021-12-29 23:07] jesusdpp96 commented on #44
@anandsathe67's patch works fine. Now, the problem is when you installs new package ,changes are lossing (at less with 'yarn add' happened this)

[2021-12-30 05:53] johngrimsey commented on #44
@jesusdpp96 Use https://www.npmjs.com/package/patch-package

[2021-12-30 14:07] johngrimsey commented on #41
@simondotm Heads-up, at present iterating on Cloud Functions code is a little painful:

* Change code
* Run build command (watch not working)
* Existing emulators running must be stopped as they don't like rebuilt code
* Emulator processes don't terminate gracefully
* Use `lsof` to kill processes
* Restart emulators

Would be amazing to be able to run a watched build and emulators in one command,

[2021-12-30 19:24] amkoehler commented on #44
Thank you, @MrPumpking @anandsathe67 and @BraunreutherA for your work on this! With nx 13.4 we're using the patch with `patch-package` and a postinstall script. It's working well but I suggest anyone using the patch to keep an eye on #45 to be merged so that the patch is no longer needed.

[2022-01-16 14:21] ProductOfAmerica commented on #44
I donate if you fix <3

[2022-01-28 03:10] seanaguinaga commented on #44
How do apply a patch from a text file?

[2022-02-06 22:01] wstidolph commented on #44
@anandsathe67 could you repost your patch in code/text rather than rendered markdown so I could just save it as a diff patch file? (Thanks!)

[2022-02-07 08:43] victorouse commented on #44
`@simondotm+nx-firebase+0.3.3.patch`

[code]

[2022-03-21 23:59] shannonjohnstone commented on #44
Just wanted to ask that since this issue has been open for so long and we have no idea of when it possibly will be fixed, has anyone considered forking this repo implementing that required fixes and publishing a new package rather than all the work arounds?

Honest question as if someone has consider it doing so I was wanting to know what for "cons" have lead to that not happening?

[2022-04-08 12:17] simondotm opened #46 "Collaborators requested"
Hi all. Apologies for the radio silence, lets just say that last year was a rough ride for me and I had to be away from development for a while.

I'm now easing back into things, but first I'd like to delegate ownership of this plugin to the community (something I should have done a while ago, but I didn't realise it was being used by so many folks).

As a start, I've invited @BraunreutherA - auth

[2022-04-08 12:33] simondotm commented on #46
I tried a quick merge + release but got a red cross on the CD and I'm out of time to look deeper into this just now. If any new collaborators are able to fix it then that'd be cool otherwise I'll try to revisit again a week or so.

[2022-04-08 12:41] shipley-dcc commented on #46
I've created a PR that should fix it.

[2022-04-09 13:02] WhatsThatItsPat commented on #46
I don't have anything in particular to say, but it might be worth turning on the Discussions feature for this repo.

[2022-04-09 18:27] skylovescoffee commented on #46
I'd be happy to help!

[2022-04-11 23:36] romshiri commented on #44
Did anyone fix it? facing the same issue.

[2022-04-11 23:52] jimlloyd commented on #44
Ideally @simondotm will fix and publish a new release, but I think several of us are unblocked by using the patches provided above. Using `patch-package` might seem daunting but it is actually quite easy. I'm using `nx@13.8.3` with Node 16 and things seem to be working fine.

[2022-04-13 00:52] hendrickson-tyler opened #48 "Build command is broken with @nrwl/workspace >= 13.10.0"
When running the build command through NX when @nrwl/workspace is installed with a version of 13.10.0 or greater, the following error occurs:
[code]

It seems as though the `copyAssetFiles` function was removed from @nrwl/workspace/src/utilities/assets in 13.10.0, looking at [this commit](https://github.com/nrwl/nx/commit/d4b5c30eba94cb3fa718e35fb60ebe5b3636a7a3). I'm not sure if this is an intent

[2022-04-14 09:51] pascalbe-humanize commented on #48
I can reproduce this error.

[2022-04-15 13:27] anandsathe67 commented on #48
Changing line 74 of src/executors/build/build.js to
`yield Promise.all(normalizedOptions.files.map((file) => copy(file.input, file.output)));`
instead of
`assets_1.copyAssetFiles ....`
and adding an import
`const { copy } = require("fs-extra/lib/copy");`

fixes this issue

[2022-04-15 13:34] anandsathe67 commented on #48
[@simondotm+nx-firebase+0.3.3.patch.txt](https://github.com/simondotm/nx-firebase/files/8496149/%40simondotm%2Bnx-firebase%2B0.3.3.patch.txt)

This is a cumulative patch for this issue and #44

[2022-04-15 13:35] anandsathe67 commented on #48
@simondotm @BraunreutherA please review

[2022-04-16 11:39] drmikecrowe commented on #48
So, does https://github.com/nrwl/nx/pull/9086 break a bunch of stuff here?  I was trying to run on 13.10, but I'm thinking there are some major changes needed?

[2022-04-16 12:00] anandsathe67 commented on #48
@drmikecrowe Am using 13.10.2 - other than a patch for this plugin and switching over to using the js:tsc executor instead of the package executor, things work ok

[2022-04-16 12:30] drmikecrowe commented on #48
@anandsathe67 -- see https://gist.github.com/drmikecrowe/8bcfc88a0ee29d6c3535e6460c014144 -- with the recent https://github.com/simondotm/nx-firebase/pull/45, I don't think the patch is needed now.  However, I'm still getting problems (yeah, this should have gone on #44, sorry).

Regarding your executor change, do you mean:
[code]
to
[code]
?

[2022-04-16 13:13] anandsathe67 commented on #48
@nrwl/node:package -> @nrwl/js:tsc.

I was using this executor in my workspace json and hence had to make the change when I migrated to nx 13.x
Not sure why patch-package is telling you the patch isnt required. The issues you are seeing in your gist are the ones which the patch (which I had earlier uploaded to #44) includes. I did not see this when i applied it to #45 - the patch did get applied

[2022-04-16 13:59] simondotm commented on #48
I've been reviewing the latest nx code for 13.10.x this afternoon and it seems there's been a fair few changes since I last released this plugin against nx 12.x

Most significantly they've merged the node:package functionality into the js:tsc package so I'm going to need to take a good look over that to bring the plugin code upto spec with the latest nx code.

The patches and comments above have b

[2022-04-16 14:06] simondotm commented on #46
I didn't even know about this new GH feature! Thanks for the suggestion. Now done.

[2022-04-16 16:37] hendrickson-tyler commented on #48
Thanks @anandsathe67, the patch works beautifully! Looking forward to an official fix, thanks to everyone contributing to this.

[2022-04-19 21:09] romshiri commented on #41
Any elegant solution for that?
@dpietrzyk mind sharing a bit more on what you did?

[2022-04-20 13:14] romshiri commented on #44
@jimlloyd Thanks. Used patch-pacakage and it worked fine.
Now I wish I could find a way to make the functions to "hot reload" every time I make a change..

[2022-04-20 16:06] jimlloyd commented on #44
@romshiri Yes that's a problem. It's aggravating because the hot reload does work some (most?) of the time, but I have spent some time debugging a problem longer than necessary because I had not noticed that the hot reload wasn't working. Looking at the project README I see this note:

[](https://github.com/simondotm/nx-firebase/issues/44#technical-notes)IMPORTANT: Note that whilst nx serve will b

[2022-05-03 22:05] romshiri commented on #44
@jimlloyd For me it doesn't work at all. It's a bit a bummer to serve it again on every small change.
I'm thinking as a (not so ideal) workaround to create a simple node.js project just for the "rapid development phase" and then copy everything to the function once complete.

[2022-05-05 07:47] jvalentik commented on #44
Hello, I noticed  another issue at least on latest NX that
[copyAssetsFiles is undefined](https://github.com/simondotm/nx-firebase/blob/main/packages/nx-firebase/src/executors/build/build.ts#L92)
Here is really quick dirt hack added to @ben-kn-app addition to the original patch...
[@simondotm+nx-firebase+0.3.3.txt](https://github.com/simondotm/nx-firebase/files/8629459/%40simondotm%2Bnx-firebase%2

[2022-05-14 10:34] ciriousjoker opened #52 "New npm release?"
It seems like since v0.3.3, nx-firebase now supports nx v13.

Could a maintainer please publish this to npm?

[2022-06-06 18:54] BookmanAG commented on #24
Hi all users and @simondotm

Since today for some unknown reason the Node 10 deployment of CF with dependant libs (all buildables) is failing with the exact same error as if I were deploying with Node 12. Has anyone faced this issue so far?

[2022-06-06 22:39] BookmanAG commented on #52
Someone forked and published a version with the latest changes: https://www.npmjs.com/package/@ninetailed/nx-firebase

[2022-06-27 19:11] victorrik opened #54 "appname:emulate not working"
I like this library and I really plan to use it for future projects, but now I have a problem with the commands.

nx emulate and nx build
Every time I try to use it I get
![Screen Shot 2022-06-27 at 14 02 28](https://user-images.githubusercontent.com/15133959/176017065-ab149d70-324e-4176-a6f8-6a53c2b955a4.png)

![Screen Shot 2022-06-27 at 14 10 02](https://user-images.githubusercontent.com/1513395

[2022-07-15 21:02] LaysDragon commented on #40
Every time I terminate the emulator from `nx serve firebase`,there always a java process stuck at background and block me to restart the emulator. It seems the problem is `@nrwl/workspace:run-commands` unable to terminate emulator's multi process.

I end up using the [concurrently](https://www.npmjs.com/package/concurrently) to wrap up firebase emulate executor command. Because I accidentally foun

[2022-07-17 19:36] LaysDragon commented on #41
Build watch stop working for @simondotm/nx-firebase@0.3.3, nx@13.10.6 and typescript@4.6.2 in my project environment.Seems the api change somehow.
I make a patch for this

- src/executors/build/build.js

replace
[code]
with
[code]

- src/executors/build/node/package/utils/compile-typescript-files.js

replace
[code]
with
[code]
noticed its also need to use patch from #44 and #48 to make its complet

[2022-07-17 19:41] LaysDragon commented on #41
Under nx 13,I have spends days on why emulator processes don't terminate gracefully.
The problem is come from nx itself. I not really famillary how process and signal working under different platform. But I manage to patch up nx 13 to make its able to gracefully shutdown the emulator under windows. D:

The nx cli have some weird design to exit its self immediately under SIGINT. Including duplicate

[2022-07-17 20:19] LaysDragon commented on #40
I'm working under windows with node v16.15.1.
Under nx 13,I have spend whole day on why emulator processes don't terminate gracefully. Have hard time to doing export-on-exit ,and have emulator process stuck in background.
The problem is come from nx itself. I not really familiar how process and signal working under different platform. But I manage to patch up nx 13 to make its able to gracefully s

[2022-07-26 20:48] johngrimsey commented on #41
Thanks @LaysDragon for your effort on this! 🙏 Will try this out next opportunity.

[2022-07-27 08:07] LaysDragon commented on #41
I find out the #20 problem later,I fix the watch problem but its still wont respond the library dependency update. So I use nx-watch instead eventually. 😂
Oh but if you don't have lib dependency,its good enough through.

[2022-07-31 20:23] jimlloyd opened #55 "How to use .env files?"
I have been doing all of my development with a single development Firebase project and am now trying to use multiple Firebase projects. Firebase best practices recommends four types of projects: _dev_, _test_, _staging_, and _prod_. I am the sole developer for my application so I can probably get away for now with two projects, call them `dev` and `alpha`, where I am treating `alpha` as a _prod_ p

[2022-08-04 06:08] sbuys opened #56 "package.json build issue for shared lib"
Not sure if this is a problem on Firebase side or some nx config, but after being able to deploy functions with a shared library I'm now gettings this error message in the Firebase logs:

`Build failed: npm ERR! cipm can only install packages when your package.json and package-lock.json or npm-shrinkwrap.json are in sync. Please update your lock file with npm install before continuing`

[2022-08-09 12:28] edbzn commented on #56
Same here, it is working with the local emulator but when I deploy into Firebase then I get an error due to the shared lib import:

[code]

In the generated dist folder, the dependency `@org/my-pkg` is present in the node_modules, so my assumption is that Firebase is just ignoring the content of the node_modules and trying to rebuild the dependencies so the shared lib is deleted.

[2022-08-10 02:24] sbuys commented on #56
In our case, we were able to fix by modifying the predeploy entry in `firebase.[APP_NAME].json` to:
`npx nx build [APP_NAME] --with-deps && cd dist/apps/[APP_NAME] && npm install`

The addition of `npm install` generates `package-lock.json` locally and sidesteps what appears to be a `package.json` and `package-lock.json` mismatch when generated on the GCP side.

This seems like an okay temporary w

[2022-08-10 06:30] edbzn commented on #56
I tried, but cannot get it working, here is what I get in return:

[code]

As a dirty fix, I inlined the lib into the Firebase app. Would be interested in a reliable solution @simondotm.

[2022-08-15 12:46] adamstret commented on #48
@anandsathe67 can you please share with us how to apply the patch? Do I just drop that txt file somewhere in the node_modules in the project? Or do I have to run it somehow? Thanks.

[2022-08-15 13:10] adamstret commented on #44
So how about sharing a [petition for an official Firebase/Nx plugin](https://chng.it/wzG7GBBGgh)

[2022-08-15 16:31] anandsathe67 commented on #48
Hi - please see https://www.npmjs.com/package/patch-package - since I have already generated the package you could download it - rename it appropriately and use it. You will have to make the modifications to package.json and install patch_package though as mentioned in the link. Hope that helps

[2022-08-20 14:46] adamstret commented on #48
@anandsathe67 way too complicated for me :( guess I will have to wait until this plugin gets fixed, or until some good soul forks & fixes it... :(

[2022-09-04 21:06] snorreks commented on #48
Just created a package to help with deploying cloud functions for firebase https://www.npmjs.com/package/nx-cloud-functions-deployer.
It is heavy opinionated with how you structure the project, but with this approach each function will have separate index file that will reduce size (by using esbuild). Feedback and help would be appreciated 👍

[2022-09-15 11:12] wnuczek commented on #55
Hi, I've just managed to get it to work.
The only thing required is to copy .env files to dist/app-name directory.

You can do this by modifying `predeploy` section of `firebase.app-name.json` as shown below.

[code]

[2022-09-15 16:29] jimlloyd commented on #55
Thanks @wnuczek! In hindsight that should have occurred to me.

[2022-09-28 20:08] dkhunt27 commented on #48
what I did to get anandsathe67 patch-package working:

- Create a new folder in your project called "patches" as a sibling/same level as node_modules
- Download the patch file listed above @simondotm+nx-firebase+0.3.3.patch.txt to /patches/@simondotm+nx-firebase+0.3.3.patch (notice dropped ".txt")
- yarn add patch-package -D
- add "postinstall": "patch-package" to the package.json scripts section

[2022-10-28 13:56] adiffmike opened #57 "Failed to upload functions - checkFunctionsSDKVersion encountered error:Invalid Version: {}"
Hi so I've run into an issue, it's my first time using this package but when I try to deploy none of my functions were getting deployed. It would fail somewhat silently but I finally noticed this error.  I am using shared modules in here but not sure what caused it exactly.

``checkFunctionsSDKVersion encountered error:Invalid Version:  {}``
`` Could not parse firebase-functions version '' into se